<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form method="POST" action="/login">
        <input type="email" placeholder="Email" name="username">
        <input type="password" placeholder="Password" name="password">
        <button type="submit">LOGIN</button>
    </form>
</body>
</html>
