<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <h1>REGISTER</h1>
    <form method="POST" action="/register">
        <input type="text" placeholder="Name" name="name">
        <input type="email" placeholder="Email" name="username">
        <input type="password" placeholder="Password" name="password">
        <button type="submit">Register</button>
    </form>
</body>
</html>
